# Creating a Dictionary That Will Contain Machine Learning Algorithms

In [1]:
# Create a list called 'algorithm' that will contain:
# Linear Regression, Logistic Regression, RandomForest, and a3c
algorithm = ['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c']

In [2]:
# create a list called 'learning' that will contain:
# Supervised, Supervised, Supervised, and Reinforcement
learning = ['Supervised', 'Supervised', 'Supervised', 'Reinforcement']

In [3]:
# Create a list called 'algorithm_type' that will contain:
# Regression, Classification, Regression or Classification, and Game AI
algorithm_type = ['Regression', 'Classification', 'Regression or Classification', 'Game AI']

In [4]:
# Add an item called k-means into the algorithm list
algorithm.append('k-means')

In [5]:
# Display the content of algorithm
print(algorithm)

['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c', 'k-means']

In [6]:
# add the Unsupervised item into the learning list
learning.append('Unsupervised')

In [7]:
# Display the content of learning
print(learning)

['Supervised', 'Supervised', 'Supervised', 'Reinforcement', 'Unsupervised']

In [8]:
# Add the Clustering item into the algorithm_type list
algorithm_type.append('Clustering')

In [9]:
# Display the content of algorithm_type
print(algorithm_type)

['Regression', 'Classification', 'Regression or Classification', 'Game AI', 'Clustering']

In [10]:
# Create an empty dictionary called machine_learning
machine_learning = {}

In [11]:
# Create a item in machine_learning with the key as 'algorithm' and the value as all the items from the algorithm list
machine_learning['algorithm'] = algorithm

In [12]:
# Display the content of machine_learning
print(machine_learning)

{'algorithm': ['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c', 'k-means']}

In [13]:
# Create a new item in machine_learning with the key as learning and the value as all the items from the learning list
machine_learning['learning'] = learning

In [14]:
# create a new item in machine_learning with the key as algorithm_type
# and the value as all the items from the algorithm_type list
machine_learning['algorithm_type'] = algorithm_type

In [15]:
# Display the content of machine_learning
print(machine_learning)

{'algorithm': ['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c', 'k-means'], 'learning': ['Supervised', 'Supervised', 'Supervised', 'Reinforcement', 'Unsupervised'], 'algorithm_type': ['Regression', 'Classification', 'Regression or Classification', 'Game AI', 'Clustering']}

In [16]:
# Remove the a3c item from the algorithm key
machine_learning['algorithm'].remove('a3c')

In [17]:
# Display the content of the algorithm item from the machine_learning dictionary 
print(machine_learning['algorithm'])

['Linear Regression', 'Logistic Regression', 'RandomForest', 'k-means']

In [18]:
# Remove the Reinforcement item from the learning key
machine_learning['learning'].remove('Reinforcement')

In [19]:
# Remove the Game AI item from the algorithm_type key
machine_learning['algorithm_type'].remove('Game AI')

In [20]:
# Display the content of machine_learning
print(machine_learning)

{'algorithm': ['Linear Regression', 'Logistic Regression', 'RandomForest', 'k-means'], 'learning': ['Supervised', 'Supervised', 'Supervised', 'Unsupervised'], 'algorithm_type': ['Regression', 'Classification', 'Regression or Classification', 'Clustering']}

# Loading Data of Different Formats into a pandas DataFrame

In [21]:
# import package
import pandas as pd

In [22]:
# Create a new variable called csv_url containing the URL to the raw CSV file
csv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.csv'

In [23]:
# Load the CSV file into a DataFrame
csv_df = pd.read_csv(csv_url, skiprows=1)
csv_df

,Number,Postcode,Suburbs,Number of Applications
0,1,3029,"Hoppers Crossing, Tarneit",1069
1,2,3977,"Cranbourne, Devon Meadows, Skye",1037
2,3,3064,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821
3,4,3030,"Point Cook, Werribee, Derrimut",816
4,5,3754,"Doreen, Mernda",530
5,6,3810,"Pakenham, Rythdale",479
6,7,3350,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383
7,8,3216,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351
8,9,3136,"Croydon, Croydon Hills, Croydon North, Croydon...",344
9,10,3805,"Fountain Gate, Narre Warren, Narre Warren South",335

In [24]:
# Create a new variable called tsv_url containing the URL to the raw TSV file
tsv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.tsv'

In [25]:
# Load the TSV file into a DataFrame
tsv_df = pd.read_csv(tsv_url, skiprows=1, sep='\t')
tsv_df

,Number,Postcode,Suburbs,Number of Applications
0,1,3029,"Hoppers Crossing, Tarneit",1069
1,2,3977,"Cranbourne, Devon Meadows, Skye",1037
2,3,3064,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821
3,4,3030,"Point Cook, Werribee, Derrimut",816
4,5,3754,"Doreen, Mernda",530
5,6,3810,"Pakenham, Rythdale",479
6,7,3350,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383
7,8,3216,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351
8,9,3136,"Croydon, Croydon Hills, Croydon North, Croydon...",344
9,10,3805,"Fountain Gate, Narre Warren, Narre Warren South",335

In [26]:
# Create a new variable called xlsx_url containing the URL to the raw Excel spreadsheet
xlsx_url = 'https://github.com/PacktWorkshops/The-Data-Science-Workshop/blob/master/Chapter01/Dataset/overall_topten_2012-2013.xlsx?raw=true'

In [27]:
# Load the Excel spreadsheet into a DataFrame
xlsx_df = pd.read_excel(xlsx_url)
xlsx_df

Empty DataFrame
Columns: [This tab doesn't contain the data we are looking for]
Index: []

By default, .read_excel() loads the first sheet of an Excel spreadsheet. In this example, the data we're looking for is actually stored in the second sheet.

In [28]:
# Load the Excel spreadsheet into a Dataframe
xlsx_df1 = pd.read_excel(xlsx_url, skiprows=1, sheet_name=1)
xlsx_df1

,Number,Postcode,Suburbs,Number of Applications
0,1,3029,"Hoppers Crossing, Tarneit",1069
1,2,3977,"Cranbourne, Devon Meadows, Skye",1037
2,3,3064,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821
3,4,3030,"Point Cook, Werribee, Derrimut",816
4,5,3754,"Doreen, Mernda",530
5,6,3810,"Pakenham, Rythdale",479
6,7,3350,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383
7,8,3216,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351
8,9,3136,"Croydon, Croydon Hills, Croydon North, Croydon...",344
9,10,3805,"Fountain Gate, Narre Warren, Narre Warren South",335

# Predicting Breast Cancer from a Dataset Using sklearn

In [29]:
# Import the load_breast_cancer function 
from sklearn.datasets import load_breast_cancer

In [30]:
# load the dataset
features, target = load_breast_cancer(return_X_y=True)

In [31]:
# print the variabel features
print(features)

[[1.799e+01 1.038e+01 1.228e+02 ... 2.654e-01 4.601e-01 1.189e-01]
 [2.057e+01 1.777e+01 1.329e+02 ... 1.860e-01 2.750e-01 8.902e-02]
 [1.969e+01 2.125e+01 1.300e+02 ... 2.430e-01 3.613e-01 8.758e-02]
 ...
 [1.660e+01 2.808e+01 1.083e+02 ... 1.418e-01 2.218e-01 7.820e-02]
 [2.060e+01 2.933e+01 1.401e+02 ... 2.650e-01 4.087e-01 1.240e-01]
 [7.760e+00 2.454e+01 4.792e+01 ... 0.000e+00 2.871e-01 7.039e-02]]

In [32]:
# print target variable
print(target)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 1 1 1 0 1 0 0 1 1 1 1 0 1 0 0
 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0 0 1 0
 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 1 0 0 1 1
 1 0 1 1 1 1 1 0 0 1 1 0 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 0 1 1 0 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 0 0 0 1 1
 1 1 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 0
 0 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1 1 1 1 1 0 1 1
 0 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 0 0 0 0 1]

In [33]:
# import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

In [34]:
# set seed
seed = 888

In [35]:
# Instantiate RandomForestClassifier
rf_model = RandomForestClassifier(random_state=seed)

In [36]:
# train the model
rf_model.fit(features, target)

RandomForestClassifier(random_state=888)

In [37]:
# make predictions
preds = rf_model.predict(features)

In [38]:
# print the predictions
print(preds)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 1 1 1 0 1 0 0 1 1 1 1 0 1 0 0
 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0 0 1 0
 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 1 0 0 1 1
 1 0 1 1 1 1 1 0 0 1 1 0 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 0 1 1 0 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 0 0 0 1 1
 1 1 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 0
 0 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1 1 1 1 1 0 1 1
 0 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 0 0 0 0 1]

In [39]:
# import accuracy_score function
from sklearn.metrics import accuracy_score

In [40]:
# calculate accuracy
accuracy_score(target, preds)

1.0